<div class="container">
    <div class="page-header">
        <img src="./assets/img/egg.png" alt="Eggs are Awesome!">
        <h1>Eggs!</h1>
        <h2>I love eggs! Let's eat some!</h2>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            
            <div class="panel panel-default to-eat">
                <div class="panel-body">
                    <h5>Crustless Quiche</h5>
                </div>
                <div class="panel-footer">Devour!</div>
            </div>
            
            <div class="panel panel-default to-eat">
                <div class="panel-body">
                    <h5>Omelet</h5>
                </div>
                <div class="panel-footer">Devour!</div>
            </div>
            
            <div class="panel panel-default to-eat">
                <div class="panel-body">
                    <h5>Crustless Quiche</h5>
                </div>
                <div class="panel-footer">Devour!</div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6">
            
            <div class="panel panel-default eaten">
                <div class="panel-body">
                    <h5>Fried Egg</h5>
                </div>
            </div>
            
            <div class="panel panel-default eaten">
                <div class="panel-body">
                    <h5>Scrambled Egg</h5>
                </div>
            </div>

            <div class="panel panel-default eaten">
                <div class="panel-body">
                    <h5>Poached Egg</h5>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-sm-3 col-md-3 col-lg-4">&nbsp;</div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="form-group">
                    <textarea id="egg-input" rows="3" class="form-control" placeholder="Input Favorite Egg Dish Here"></textarea>
                    <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
                </div>
                <p id="instruction">Enter a favorite egg dish and click "submit".  Then hover over the each and click "Devour!" to consume.</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-4">&nbsp;</div>
        </div>
    </div>

</div>

